.chat-section {
  display: grid;
  width: auto;
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  grid-template-columns: 1fr max-content;
  align-items: flex-end;

  .chats {
    display: flex;
    // transition: 3000ms all linear;
    // transition: 500ms all linear;
    // overflow-x: scroll;
  }

  .friends {
    display: flex;
    flex-direction: column;
    justify-content: right;

    .friend-list-container {
      border: 2px solid rgb(255, 255, 255);
      border-radius: 5px;
      padding: 2px;
    }
  }

  .chatButton {
    display: flex;
    justify-content: flex-end;
  }
}

.hidden {
  width: 0px;
  opacity: 0;
  transition: 3000ms all linear;
}
