.register-container {
  width: 100%;
  background-color: rgba(168, 168, 168, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    padding: 20px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Baloo Bhai 2";

    .AppDescription {
      margin: 0px 0px 0px 0px;
      background-image: url(https://i7.pngguru.com/preview/241/131/647/steve-jobs-apple-steve-jobs.jpg);
      border-radius: 10px;
      // box-shadow: 0px 9px 20px 10px rgba(117, 117, 117, 0.3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .registerForm {
      display: flex;
      flex-direction: column;

      h1,
      h3 {
        margin: 10px 0px;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 50%;

        input {
          font-family: "Baloo Bhai 2";
          margin: 10px 10px 10px 0;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid rgba(168, 168, 168, 0.9);
        }

        input[type="submit"] {
          font-family: "Baloo Bhai 2";
          margin: 20px 10px 10px 0;
          padding: 5px;
          border-radius: 4px;
          color: white;
          font-size: 24px;
          border: 1px solid rgba(168, 168, 168, 0.9);
          background-color: rgb(64, 202, 94);
        }

        .name {
          display: flex;
        }

        .birthdayDetails {
          display: flex;

          select {
            margin: 2px 3px 0 0;
          }
        }

        .gender {
          margin: 5px 0px 0px 0px;
          // text-align: center;
          .genders {
            display: flex;
            .male,
            .female {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .male {
              margin-right: 5px;
            }
          }
          input {
            margin: 0px 2px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .AppDescription {
    display: none;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }
  .register-container {
    .register {
      width: 80%;
      text-align: center;
      grid-template-columns: 1fr 0fr;
      .registerForm {
        text-align: center;
        h1 {
          font-size: 26px;
        }
        form {
          width: 100%;
          text-align: center;
          .gender {
            margin: 5px 0px 0px 0px;
            // text-align: center;
            .genders {
              display: flex;
              justify-content: center;
              .male,
              .female {
                margin: 0px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            input {
              margin: 0px 2px;
            }
          }
        }
      }
    }
  }
}
