.login-component {
  form {
    display: flex;

    .email,
    .password,
    .loginBtn {
      flex: 1;
      margin-right: 10px;
      display: flex;
      width: fit-content;
      font-family: "Baloo Bhai 2";
      flex-direction: column;
      color: white;
      span {
        font-size: 14px;
      }
      input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid rgba($color: #485885, $alpha: 1);
        font-family: "Baloo Bhai 2";
      }
    }
  }

  .loginBtn {
    margin: auto;

    input {
      padding: 0px 15px;
      background-color: #136383;
      color: white;
      font-family: "Baloo Bhai 2";
      font-size: 12px;
    }
  }
}
