.create-post {
  font-family: "Baloo Bhai 2";
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  max-width: 100%;
  margin: 15px auto;
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.4);

  .textPost {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;

    .postText {
      padding: 5px 10px;
      box-sizing: border-box;
      color: #aaa;
      text-align: left;
      border-radius: 15px;
      background-color: #eee;
      min-width: 90%;
      max-width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .post-text-message {
        outline: none;
        // padding: 5px;
        font-size: 14px;
        min-width: 100%;
        max-width: 100%;
        max-height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 0;
        background: rgba(0, 0, 0, 0);
        resize: none;


      }
    }

    img {
      height: 33px;
      background-color: #eee;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  hr {
    background-color: rgba(#000000, 0.5);
    border: none;
    height: 1px;
    opacity: 0.5;
    width: 95%;
    margin: auto;
  }

  .attachments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px 10px;
      width: 90%;
      margin: auto;
      justify-content: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        font-size: 14px;

        img {
          margin: 0px 3px 0px 0px;
        }
      }

      li:hover {
        background-color: #eee;
      }
    }
  }


}

.create-post-form {
  width: 100%;

  .post-btn {
    width: 100%;
    padding: 2px 0px;
    background-color: #0077ff;
    border-radius: 0px 0px 10px 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: "Baloo Bhai 2";


  }
}