.nav-bar-container {
  // border-bottom: 1px solid #133783;
  background-color: #3b5998;
  background-image: linear-gradient(#0077ff, #00a2ff 50%);
  width: 100%;
  padding: 10px 0px;
}

.nav-bar-login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 0px 10px;

  .title-app {
    flex: 1;
    justify-content: flex-start;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 45px;
    font-weight: normal;
    color: #fff;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .title-app {
    display: none;
  }
  .nav-bar-login {
    width: 100%;
  }
}
