// .Chat-Container {
//   * {
//   }

// background-color: #0077ff;

.Chat-Container {
  box-sizing: border-box;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 10px;

  .chat-box {
    border-radius: 10px;
    height: 360px;
    width: 260px;
    border: 1px solid rgb(165, 165, 165);
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px 1fr 50px;

    .contactDetails {
      border-radius: 9px 9px 0px 0px;
      background-color: #0077ff;
      display: grid;
      align-items: center;
      grid-template-columns: max-content 1fr 25px;
      padding: 0px 10px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

      .profilePic {
        height: 35px;
        width: 35px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }

      span {
        color: white;
        padding: 0px 10px;
        font-size: 22px;
      }
    }

    .messagesWindow {
      padding: 5px 15px 5px 10px;
      // margin: 5px 0px;
      background-color: #fff;
      overflow-y: scroll;

      .message {
        width: 100%;
        margin: 10px 5px;
        font-weight: normal;
      }

      .left {
        text-align: left;

        h4 {
          display: inline-block;
          background-color: rgba($color: #0077ff, $alpha: 0.8);
          word-wrap: break-word;
          width: 115px;
          max-width: 115px;
          padding: 3px 5px;
          color: white;
          font-size: 12px;
          border-radius: 0px 5px 5px 5px;
          text-align: left;
          font-weight: normal;
        }
      }

      .right {
        text-align: right;

        h4 {
          display: inline-block;
          width: 115px;
          background-color: rgba($color: #0077ff, $alpha: 0.8);
          word-wrap: break-word;
          max-width: 115px;
          padding: 3px 5px;
          color: white;
          font-size: 12px;
          border-radius: 5px 0px 5px 5px;
          text-align: right;
          font-weight: normal;
        }
      }
    }

    .textBox {
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      background-color: #0077ff;
      grid-template-columns: 30px 1fr max-content;
      padding: 10px;
      border-radius: 0px 0px 9px 9px;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

      input {
        padding: 3px 5px;
        border-radius: 8px;
        margin: 0px 5px;
        border: 1px solid rgba($color: #fff, $alpha: 0.6);
      }
    }
  }
}

.close {
  display: none;
}
