.search-container {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;

  img {
    margin: 5px 10px 5px 0px;
  }

  @media only screen and(max-width:1200px) {
    span {
      display: none;
    }
  }

  // .search-textBox {
  //   display: flex;
  //   align-items: center;
  //   background-color: #eee;
  //   border-radius: 30px;

  //   input {
  //     border: none;
  //     background-color: #eee;
  //     padding: 2px 10px;
  //     font-size: 14px;
  //     outline: none;
  //   }  }
}