.friend-list {
  padding: 10px 14px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 0px 15px 0;
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.2);
  display: flex;
  flex-direction: column;
  h2 {
    padding: 2px 10px 1px 0px;
  }
  .frnds {
    // display: flex;
    margin: 5px 0px;

    height: auto;
    .friend {
      // height: 120px;
      // width: 100px;

      display: inline;
      padding-bottom: 10px;
      .photo {
        background-position: center;
        background-size: cover;
        height: 100px;
        width: auto;
      }
      span {
      }
    }
  }
}
