.homePage-container {
  background: #eee;
  position: relative;
  top: 50px;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 50px);
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 500px 1fr;
  overflow: hidden;

  .Menu {
  }

  .feed-container {
    margin: 0px 0px;
  }

  .contacts {
  }

  .optionss {
    position: fixed;
    // padding: 5px;
    left: 100%;
    transform: translateX(0%);
    width: 200px;
    transition: 300ms all linear;
    background-color: #eee;
    box-shadow: -1px 0px 4px 0px rgba($color: #000000, $alpha: 0.1);

    h1 {
      text-align: left;
      font-weight: normal;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding: 8px;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 8px;
        background-color: #eee;
        margin-top: 5px;
        text-align: left;
        border-radius: 5px;
      }
      li:hover {
        background-color: #fff;
      }
    }
  }

  .revealOptions {
    transform: translateX(-100%);
    transition: 150ms all linear;
  }
}

@media (max-width: "600px") {
  .homePage-container {
    width: 100%;
    grid-template-columns: 0px 450px 0px;
    display: flex;
  }

  .Menu {
    opacity: 0;
  }
  .feed-container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
