.homePage-container {
  background: #eee;
  position: relative;
  top: 59px;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 59px);
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 500px 1fr;

  .Menu {}

  .feed-container {
    margin: 0px 0px;
  }

  .contacts {}

  .optionss {
    position: fixed;
    padding: 5px;
    left: 100%;
    transform: translateX(0%);
    width: 200px;
    transition: 300ms all linear;
    background-color: #fff;
    box-shadow: -1px 0px 4px 0px rgba($color: #000000, $alpha: 0.1);

    h1 {
      text-align: left;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 5px;
        background-color: #fff;
        margin-top: 5px;
      }
    }
  }

  .revealOptions {
    transform: translateX(-100%);
    transition: 300ms all linear;
  }
}

@media (max-width: "600px") {
  .homePage-container {
    width: 100%;
    grid-template-columns: 0px 450px 1fr;
  }

  .Menu {
    opacity: 0;
  }
}

@media (max-width: "0px") {
  .homePage-container {
    grid-template-columns: 0px 500px 1fr;
  }

  .Menu {
    opacity: 0;
  }
}