.info-container {
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 0px 15px 0;
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.2);
  h2 {
    padding: 2px 10px;
  }
  ul li {
    padding: 4px 10px 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    img {
      margin-right: 8px;
    }
  }
  button {
    width: 100%;
    padding: 5px 10px;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    color: white;
  }
}
li {
  text-align: center;
}
