.infoTab {
    div {

        padding: 4px 10px 10px 10px;
        display: flex;
        align-items: center;
        // text-align: center;

        img {
            margin-right: 8px;
        }
    }
}