.contactss {
  display: flex;
  justify-content: flex-end;
  transition: 300ms all linear;

  .lists {
    min-width: 250px;
    max-width: 250px;
    background-color: #eee;

    h1 {
      text-align: left;
      padding: 15px 10px 5px;
      font-size: 20px;
      font-weight: normal;
      color: #777;
    }
  }
}
@media (max-width: "600px") {
  .contactss {
    transform: translateX(100%);
    transition: 150ms all linear;
    .lists {
      min-width: 250px;
      h1 {
        font-size: 18px;
      }
    }
  }

  .appear {
    transform: translateX(-100%);
    transition: 150ms all linear;
  }
}
