.profile-container {
  box-sizing: border-box;
  position: relative;
  top: 59px;
  min-height: calc(100vh - 59px);
  width: 100%;
  background-color: #eee;

  .top-section {
    width: 100%;
    background: linear-gradient(rgba(0, 54, 61, 0.3), #fff);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .top-section-content {
    max-width: 750px;
    margin: auto;

    hr {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .cover {
      height: 275px;
      width: 100%;
      margin: auto;
      background-size: cover;
      background-position: center;
      border-radius: 0px 0px 10px 10px;
      position: relative;

      img {
        height: 45px;
        position: absolute;
        top: 98%;
        left: 98%;
        transform: translate(-100%, -100%);
      }

      .profile-photo {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -80%);
        height: 145px;
        width: 145px;
        border: 5px solid white;
        background-size: cover;
        background-position: center;
        border-radius: 50%;

        img {
          height: 35px;
          position: absolute;
          top: 80%;
          left: 80%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .userDescription {
      text-align: center;
      padding: 25px 0px 10px 0px;
      font-family: Montserrat, "sans-serif";
      font-weight: bolder;
      div {
        text-transform: uppercase;
        padding: 5px 8px;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        // display: flex;

        img {
          position: absolute;
          left: 100%;
          top: 50%;
          height: 20px;
          transform: translate(-100%, -50%);
        }
      }
      div {
        margin: 5px 0px;
      }
      h1,
      div {
        font-family: Montserrat, "sans-serif";
        font-weight: bolder;
      }
    }

    .tabs {
      display: flex;
      padding: 10px 0px;

      div {
        flex: 1;
      }

      ul {
        width: 100%;
        display: flex;

        li {
          flex: 1;
          background-color: #eee;
          border-radius: 5px 5px 0px 0px;
          padding: 8px 10px;
          margin: 0px 5px;
          border: 2px solid #00000000;
          font-weight: 400;
          font-family: "Baloo Bhai 2";
        }

        li:nth-child(1) {
          margin-left: 0px;
        }

        li:nth-child(4) {
          margin-right: 0px;
        }

        li:hover {
          background-color: #eee;
          color: rgb(24, 119, 242);
          border-bottom: 2px solid #1877f2;
        }
      }
    }
  }

  .main-section {
    width: 100%;
    padding: 0 15px;

    .main-section-content {
      display: grid;
      max-width: 750px;
      grid-template-columns: 275px 1fr;
      grid-column-gap: 10px;
      margin: auto;

      @media only screen and (max-width: 800px) {
        display: block;
      }
    }
  }
}
