.nav-bar {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  width: 100%;
  max-width: 100%;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Roboto";
  overflow: visible;
  padding: 0px 15px;

  @media (max-width: "600px") {
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    padding: 0px 5px;
  }
}
