.Secondary-Tabs {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: end;

  ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      background-color: #eee;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 5px;
      justify-content: center;
      align-items: center;
    }
    .messenger {
      display: none;
      @media (max-width: "1000px") {
        display: flex;
      }
    }
  }
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.user-profile:hover {
  background-color: #eee;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px;
  border-radius: 5px;

  span {
    font-size: 24px;
    font-weight: bold;
    width: max-content;
    padding: 0px 5px;
  }

  @media (max-width: "1000px") {
    display: none;
  }
}
